- Add hike
- Update hikes
- Delete hikes
- Read hikes
    - Search hikes near location
    - Read hike
        - Show map
        - Route


Hike
    Person
    Checkpoints


- Draw map 
    - Manually with markers
    - Right click add audio file
    - Or record position